apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wordpress-prod
resources:
  - ../../base
  - app.yaml
commonLabels:
  env: prod
patches:
  - path: patch-spc.yaml
    target:
      kind: SecretProviderClass
      name: vault-wp-secrets
  - path: patch-ingressroute.yaml
    target:
      kind: IngressRoute
      name: wordpress
patchesJson6902:
  - target:
      version: v1
      kind: PersistentVolume
      name: wordpress-pv
    path: patch-pv.yaml
